<a href="https://colab.research.google.com/github/Utkarsh736/PythonHelloWorld/blob/master/Bitcoin_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description : This program predicts the price of Bitcoin for the next 30 days

In [ ]:
#Import the libraries
import pandas as pd
import numpy as np



def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
#Load the data
from google.colab import files
uploaded = files.upload()

Saving Bitcoins1.csv to Bitcoins1 (1).csv

In [ ]:
#Store the data into a variable 
df= pd.read_csv('Bitcoins1.csv')
df.head(7)

         Date         Open          High  ...        Close    Adj Close       Volume
0  22-10-2019  8243.402344   8296.651367  ...  8078.203125  8078.203125  16803377856
1  23-10-2019  8076.228516   8092.999512  ...  7514.671875  7514.671875  21942878957
2  24-10-2019  7509.728027   7532.867676  ...  7493.488770  7493.488770  16268708848
3  25-10-2019  7490.703125   8691.540039  ...  8660.700195  8660.700195  28705065488
4  26-10-2019  8667.577148  10021.744140  ...  9244.972656  9244.972656  44496255608
5  27-10-2019  9241.707031   9749.529297  ...  9551.714844  9551.714844  32593129500
6  28-10-2019  9565.101563   9805.118164  ...  9256.148438  9256.148438  30948255331

[7 rows x 7 columns]

In [ ]:
#Remove the date coloumn
df.drop(['Date','High','Low','Close','Adj Close','Volume'],1,inplace=True)

In [ ]:
#Show the first 7 rows of the new data
df.head(7)

          Open
0  8243.402344
1  8076.228516
2  7509.728027
3  7490.703125
4  8667.577148
5  9241.707031
6  9565.101563

In [ ]:
#Replacing open coloumn to price
df.rename(columns={'Open':'Price'},inplace=True)

In [ ]:
df.head(7)

         Price
0  8243.402344
1  8076.228516
2  7509.728027
3  7490.703125
4  8667.577148
5  9241.707031
6  9565.101563

In [ ]:
# A variable for predicting 'n' days into the future
prediction_days = 30

#Create another coloumn shifted 'n' days up
df['Prediction'] = df[['Price']].shift(-prediction_days)

In [ ]:
#Show first 7 rows of new data set
df.head(7)

         Price   Prediction
0  8243.402344  8023.644531
1  8076.228516  7643.569336
2  7509.728027  7296.164551
3  7490.703125  7398.633789
4  8667.577148  7039.977051
5  9241.707031  7145.159180
6  9565.101563  7220.880859

In [ ]:
#Show the last 7 rows of new data  set
df.tail(7)

           Price  Prediction
359  11502.82813         NaN
360  11322.12305         NaN
361  11355.98242         NaN
362  11495.03809         NaN
363  11745.97461         NaN
364  11913.07715         NaN
365  11057.00879         NaN

In [ ]:
#Create the independant data set

#Convert the dataframe to a numpy array and drop the the prediction coloumn
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where id 'n' is prediction_days
X = X[:len(df)-prediction_days]

print(X)

[[ 8243.402344]
 [ 8076.228516]
 [ 7509.728027]
 [ 7490.703125]
 [ 8667.577148]
 [ 9241.707031]
 [ 9565.101563]
 [ 9248.44043 ]
 [ 9422.462891]
 [ 9202.458008]
 [ 9193.992188]
 [ 9259.783203]
 [ 9324.787109]
 [ 9235.607422]
 [ 9413.004883]
 [ 9340.864258]
 [ 9352.393555]
 [ 9265.368164]
 [ 8809.46875 ]
 [ 8812.489258]
 [ 9056.917969]
 [ 8759.751953]
 [ 8812.033203]
 [ 8811.936523]
 [ 8705.708008]
 [ 8491.166016]
 [ 8549.470703]
 [ 8573.980469]
 [ 8305.134766]
 [ 8203.613281]
 [ 8023.644531]
 [ 7643.569336]
 [ 7296.164551]
 [ 7398.633789]
 [ 7039.977051]
 [ 7145.15918 ]
 [ 7220.880859]
 [ 7536.820313]
 [ 7466.727051]
 [ 7764.057129]
 [ 7571.616211]
 [ 7424.036133]
 [ 7323.975586]
 [ 7320.125   ]
 [ 7253.241699]
 [ 7450.561523]
 [ 7547.265625]
 [ 7551.338867]
 [ 7561.79541 ]
 [ 7397.134277]
 [ 7277.197754]
 [ 7216.73877 ]
 [ 7244.662109]
 [ 7268.902832]
 [ 7124.239746]
 [ 7153.663086]
 [ 6931.31543 ]
 [ 6647.698242]
 [ 7277.59082 ]
 [ 7208.636719]
 [ 7220.59375 ]
 [ 7191.188477]
 [ 7508.902344]
 [ 7354.393066]
 [ 7325.755859]
 [ 7274.799316]
 [ 7238.141113]
 [ 7289.03125 ]
 [ 7317.647461]
 [ 7420.272949]
 [ 7294.438965]
 [ 7194.89209 ]
 [ 7202.55127 ]
 [ 6984.428711]
 [ 7345.375488]
 [ 7410.45166 ]
 [ 7410.452148]
 [ 7768.682129]
 [ 8161.935547]
 [ 8082.295898]
 [ 7878.307617]
 [ 8162.190918]
 [ 8033.261719]
 [ 8189.771973]
 [ 8140.933105]
 [ 8825.34375 ]
 [ 8812.481445]
 [ 8725.209961]
 [ 8927.211914]
 [ 8941.445313]
 [ 8704.631836]
 [ 8658.991211]
 [ 8744.210938]
 [ 8680.650391]
 [ 8405.567383]
 [ 8440.119141]
 [ 8364.410156]
 [ 8597.308594]
 [ 8912.524414]
 [ 9357.470703]
 [ 9316.016602]
 [ 9508.313477]
 [ 9346.357422]
 [ 9389.820313]
 [ 9344.683594]
 [ 9292.841797]
 [ 9183.416016]
 [ 9617.821289]
 [ 9726.00293 ]
 [ 9793.070313]
 [ 9863.894531]
 [10115.55957 ]
 [ 9855.891602]
 [10202.3877  ]
 [10323.96094 ]
 [10211.55078 ]
 [10313.85645 ]
 [ 9889.179688]
 [ 9936.560547]
 [ 9691.230469]
 [10143.79883 ]
 [ 9629.325195]
 [ 9611.782227]
 [ 9687.707031]
 [ 9663.318359]
 [ 9921.583008]
 [ 9651.3125  ]
 [ 9338.290039]
 [ 8825.09375 ]
 [ 8788.728516]
 [ 8671.212891]
 [ 8599.758789]
 [ 8563.264648]
 [ 8865.387695]
 [ 8788.541992]
 [ 8760.285156]
 [ 9078.308594]
 [ 9121.600586]
 [ 8908.206055]
 [ 8111.146484]
 [ 7922.146973]
 [ 7910.089844]
 [ 7913.616211]
 [ 5017.831055]
 [ 5573.077637]
 [ 5201.066895]
 [ 5385.229492]
 [ 5002.578125]
 [ 5227.11377 ]
 [ 5245.416504]
 [ 6191.653809]
 [ 6206.521484]
 [ 6185.558105]
 [ 5831.374512]
 [ 6436.642578]
 [ 6738.716797]
 [ 6675.170898]
 [ 6719.38916 ]
 [ 6467.253906]
 [ 6245.624512]
 [ 5925.538574]
 [ 6430.606445]
 [ 6437.319336]
 [ 6606.776367]
 [ 6797.396484]
 [ 6738.382813]
 [ 6862.537598]
 [ 6788.049805]
 [ 7273.644043]
 [ 7179.283203]
 [ 7337.966309]
 [ 7303.81543 ]
 [ 6867.44043 ]
 [ 6858.067871]
 [ 6965.616699]
 [ 6843.281738]
 [ 6845.561523]
 [ 6640.454102]
 [ 7116.552734]
 [ 7092.291504]
 [ 7260.922363]
 [ 7186.873535]
 [ 6879.78418 ]
 [ 6879.44043 ]
 [ 7121.306152]
 [ 7434.181641]
 [ 7550.48291 ]
 [ 7570.13916 ]
 [ 7679.418945]
 [ 7796.970215]
 [ 7806.712402]
 [ 8797.669922]
 [ 8672.782227]
 [ 8869.057617]
 [ 8983.614258]
 [ 8895.745117]
 [ 8912.832031]
 [ 9007.441406]
 [ 9261.895508]
 [ 9936.162109]
 [ 9840.90625 ]
 [ 9591.168945]
 [ 8755.535156]
 [ 8610.385742]
 [ 8805.387695]
 [ 9271.329102]
 [ 9734.291016]
 [ 9333.240234]
 [ 9374.929688]
 [ 9675.695313]
 [ 9727.063477]
 [ 9725.329102]
 [ 9522.740234]
 [ 9080.334961]
 [ 9185.0625  ]
 [ 9212.283203]
 [ 8786.107422]
 [ 8909.585938]
 [ 8837.380859]
 [ 9184.945313]
 [ 9528.355469]
 [ 9438.914063]
 [ 9700.105469]
 [ 9463.605469]
 [10162.97363 ]
 [ 9533.760742]
 [ 9655.854492]
 [ 9800.21582 ]
 [ 9664.904297]
 [ 9653.00293 ]
 [ 9760.063477]
 [ 9774.360352]
 [ 9794.119141]
 [ 9870.078125]
 [ 9320.69043 ]
 [ 9480.735352]
 [ 9477.553711]
 [ 9386.035156]
 [ 9454.266602]
 [ 9533.78418 ]
 [ 9481.567383]
 [ 9410.293945]
 [ 9290.959961]
 [ 9330.926758]
 [ 9300.915039]
 [ 9644.076172]
 [ 9632.149414]
 [ 9314.126953]
 [ 9260.995117]
 [ 9167.824219]
 [ 9048.460938]
 [ 9140.029297]
 [ 9185.581055]
 [ 9145.985352]
 [ 9231.139648]
 [ 9124.842773]
 [ 9084.233398]
 [ 9126.09082 ]
 [ 9072.849609]
 [ 9349.161133]
 [ 9253.020508]
 [ 9427.994141]
 [ 9273.357422]
 [ 9277.511719]
 [ 9241.054688]
 [ 9277.205078]
 [ 9238.703125]
 [ 9241.897461]
 [ 9191.980469]
 [ 9131.8125  ]
 [ 9151.183594]
 [ 9158.005859]
 [ 9187.220703]
 [ 9162.514648]
 [ 9375.080078]
 [ 9527.141602]
 [ 9585.514648]
 [ 9539.485352]
 [ 9680.234375]
 [ 9905.217773]
 [11017.46387 ]
 [10912.95313 ]
 [11099.83301 ]
 [11110.21094 ]
 [11322.57031 ]
 [11758.76465 ]
 [11043.76856 ]
 [11203.82324 ]
 [11749.87109 ]
 [11778.89453 ]
 [11604.55371 ]
 [11737.3252  ]
 [11662.25684 ]
 [11881.64746 ]
 [11404.59668 ]
 [11588.40527 ]
 [11772.65918 ]
 [11768.69727 ]
 [11866.68555 ]
 [11895.6582  ]
 [12251.89551 ]
 [11990.88477 ]
 [11761.5     ]
 [11878.02637 ]
 [11585.47754 ]
 [11679.69629 ]
 [11663.68945 ]
 [11773.58887 ]
 [11366.89453 ]
 [11485.6084  ]
 [11325.2959  ]
 [11541.05469 ]
 [11508.71387 ]
 [11713.30664 ]
 [11679.31641 ]
 [11964.82324 ]
 [11407.19141 ]
 [10230.36523 ]
 [10512.53027 ]
 [10167.2168  ]
 [10280.99805 ]
 [10369.30664 ]
 [10134.15137 ]
 [10242.33008 ]
 [10369.02832 ]
 [10409.86133 ]
 [10452.39941 ]
 [10328.73438 ]
 [10677.75488 ]
 [10797.76172 ]
 [10973.25195 ]
 [10951.82031 ]
 [10933.75293 ]
 [11095.87012 ]
 [10934.92578 ]
 [10459.62402 ]]

In [ ]:
#Create the dependant data set

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all of the values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[ 8023.644531  7643.569336  7296.164551  7398.633789  7039.977051
  7145.15918   7220.880859  7536.820313  7466.727051  7764.057129
  7571.616211  7424.036133  7323.975586  7320.125     7253.241699
  7450.561523  7547.265625  7551.338867  7561.79541   7397.134277
  7277.197754  7216.73877   7244.662109  7268.902832  7124.239746
  7153.663086  6931.31543   6647.698242  7277.59082   7208.636719
  7220.59375   7191.188477  7508.902344  7354.393066  7325.755859
  7274.799316  7238.141113  7289.03125   7317.647461  7420.272949
  7294.438965  7194.89209   7202.55127   6984.428711  7345.375488
  7410.45166   7410.452148  7768.682129  8161.935547  8082.295898
  7878.307617  8162.190918  8033.261719  8189.771973  8140.933105
  8825.34375   8812.481445  8725.209961  8927.211914  8941.445313
  8704.631836  8658.991211  8744.210938  8680.650391  8405.567383
  8440.119141  8364.410156  8597.308594  8912.524414  9357.470703
  9316.016602  9508.313477  9346.357422  9389.820313  9344.683594
  9292.841797  9183.416016  9617.821289  9726.00293   9793.070313
  9863.894531 10115.55957   9855.891602 10202.3877   10323.96094
 10211.55078  10313.85645   9889.179688  9936.560547  9691.230469
 10143.79883   9629.325195  9611.782227  9687.707031  9663.318359
  9921.583008  9651.3125    9338.290039  8825.09375   8788.728516
  8671.212891  8599.758789  8563.264648  8865.387695  8788.541992
  8760.285156  9078.308594  9121.600586  8908.206055  8111.146484
  7922.146973  7910.089844  7913.616211  5017.831055  5573.077637
  5201.066895  5385.229492  5002.578125  5227.11377   5245.416504
  6191.653809  6206.521484  6185.558105  5831.374512  6436.642578
  6738.716797  6675.170898  6719.38916   6467.253906  6245.624512
  5925.538574  6430.606445  6437.319336  6606.776367  6797.396484
  6738.382813  6862.537598  6788.049805  7273.644043  7179.283203
  7337.966309  7303.81543   6867.44043   6858.067871  6965.616699
  6843.281738  6845.561523  6640.454102  7116.552734  7092.291504
  7260.922363  7186.873535  6879.78418   6879.44043   7121.306152
  7434.181641  7550.48291   7570.13916   7679.418945  7796.970215
  7806.712402  8797.669922  8672.782227  8869.057617  8983.614258
  8895.745117  8912.832031  9007.441406  9261.895508  9936.162109
  9840.90625   9591.168945  8755.535156  8610.385742  8805.387695
  9271.329102  9734.291016  9333.240234  9374.929688  9675.695313
  9727.063477  9725.329102  9522.740234  9080.334961  9185.0625
  9212.283203  8786.107422  8909.585938  8837.380859  9184.945313
  9528.355469  9438.914063  9700.105469  9463.605469 10162.97363
  9533.760742  9655.854492  9800.21582   9664.904297  9653.00293
  9760.063477  9774.360352  9794.119141  9870.078125  9320.69043
  9480.735352  9477.553711  9386.035156  9454.266602  9533.78418
  9481.567383  9410.293945  9290.959961  9330.926758  9300.915039
  9644.076172  9632.149414  9314.126953  9260.995117  9167.824219
  9048.460938  9140.029297  9185.581055  9145.985352  9231.139648
  9124.842773  9084.233398  9126.09082   9072.849609  9349.161133
  9253.020508  9427.994141  9273.357422  9277.511719  9241.054688
  9277.205078  9238.703125  9241.897461  9191.980469  9131.8125
  9151.183594  9158.005859  9187.220703  9162.514648  9375.080078
  9527.141602  9585.514648  9539.485352  9680.234375  9905.217773
 11017.46387  10912.95313  11099.83301  11110.21094  11322.57031
 11758.76465  11043.76856  11203.82324  11749.87109  11778.89453
 11604.55371  11737.3252   11662.25684  11881.64746  11404.59668
 11588.40527  11772.65918  11768.69727  11866.68555  11895.6582
 12251.89551  11990.88477  11761.5      11878.02637  11585.47754
 11679.69629  11663.68945  11773.58887  11366.89453  11485.6084
 11325.2959   11541.05469  11508.71387  11713.30664  11679.31641
 11964.82324  11407.19141  10230.36523  10512.53027  10167.2168
 10280.99805  10369.30664  10134.15137  10242.33008  10369.02832
 10409.86133  10452.39941  10328.73438  10677.75488  10797.76172
 10973.25195  10951.82031  10933.75293  11095.87012  10934.92578
 10459.62402  10539.45703  10227.47949  10747.47266  10702.23731
 10752.93945  10771.6416   10712.46289  10845.41113  10785.01074
 10624.39063  10583.80664  10567.91992  10688.03418  10799.77832
 10619.80371  10677.625    10925.44434  11059.14258  11296.08203
 11392.63574  11548.71973  11429.04785  11426.60254  11502.82813
 11322.12305  11355.98242  11495.03809  11745.97461  11913.07715
 11057.00879 ]

In [ ]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.1)

In [ ]:
#Set the prediction_days_array equal to last 30 rows from the original dataset
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[10539.45703]
 [10227.47949]
 [10747.47266]
 [10702.23731]
 [10752.93945]
 [10771.6416 ]
 [10712.46289]
 [10845.41113]
 [10785.01074]
 [10624.39063]
 [10583.80664]
 [10567.91992]
 [10688.03418]
 [10799.77832]
 [10619.80371]
 [10677.625  ]
 [10925.44434]
 [11059.14258]
 [11296.08203]
 [11392.63574]
 [11548.71973]
 [11429.04785]
 [11426.60254]
 [11502.82813]
 [11322.12305]
 [11355.98242]
 [11495.03809]
 [11745.97461]
 [11913.07715]
 [11057.00879]]

In [ ]:
from sklearn.svm import SVR

#Create and train Support Vector Machine(Regression) using radial basis function
svr_rbf = SVR(kernel ='rbf', C = 1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
#Test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence )

svr_rbf accuracy:  0.3049344750857964

In [ ]:
#Print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 9604.71438698  8350.75038194  9159.005718    8138.35740423
  8125.06513917 10424.15949095  7799.37120668  9003.99530166
  8495.6573121   8449.61501946  8355.17593167  8115.00357996
  9090.35542229 10216.40179794  9188.26146774  9189.7292046
  9186.16792752  9189.63761957 10443.56162687  7791.41226419
  9135.32806899  8938.82032758 10225.91200664  9015.64981067
  8516.93169035 10472.23544377  9653.73453857  7792.91402828
 10660.09048299 11437.53544282  9181.90085597  8770.91441731
  8729.38176468  9166.95846549]

[11604.55371   9629.325195  9253.020508  7410.452148  7289.03125
 10845.41113   7796.970215  6467.253906  9591.168945  6984.428711
  9700.105469  8797.669922 11737.3252   11758.76465   5831.374512
  9533.78418   9585.514648  9349.161133 11964.82324   7186.873535
  8111.146484  7153.663086  6788.049805  6738.716797  7508.902344
 10712.46289   8825.09375   7260.922363 10747.47266  11325.2959
  9121.600586  9725.329102  8941.445313 11663.68945 ]

In [ ]:
#Print the prediction for next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#Print the actual price for Bitcoin for the last 30 days
print(df.tail(prediction_days))

[11254.3407618   9809.89567489 11474.94478482 11445.78909188
 11477.88830784 11486.97692069 11453.11674117 11507.18163423
 11492.52205963 11375.21051118 11325.26175883 11302.17970218
 11434.90216222 11497.70006772 11370.11502249 11426.39377844
 11498.15188667 11386.49436618 10826.50013598 10611.26420437
 10448.09880151 10554.04538012 10557.45981499 10476.58093965
 10760.54117926 10682.83866822 10482.690839   10436.60648081
 10612.14703705 11389.52303769]

           Price  Prediction
336  10539.45703         NaN
337  10227.47949         NaN
338  10747.47266         NaN
339  10702.23731         NaN
340  10752.93945         NaN
341  10771.64160         NaN
342  10712.46289         NaN
343  10845.41113         NaN
344  10785.01074         NaN
345  10624.39063         NaN
346  10583.80664         NaN
347  10567.91992         NaN
348  10688.03418         NaN
349  10799.77832         NaN
350  10619.80371         NaN
351  10677.62500         NaN
352  10925.44434         NaN
353  11059.14258         NaN
354  11296.08203         NaN
355  11392.63574         NaN
356  11548.71973         NaN
357  11429.04785         NaN
358  11426.60254         NaN
359  11502.82813         NaN
360  11322.12305         NaN
361  11355.98242         NaN
362  11495.03809         NaN
363  11745.97461         NaN
364  11913.07715         NaN
365  11057.00879         NaN